<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{index.css}" />
    <title>index</title>
</head>
<body>

<h1 class="center">  Akademisk Boldklub</h1>
<hr />
<h2 class="center"><a href="members">Medlemmer</a></h2>
<h2 class="center"><a href="training">Træning</a></h2>
<h2 class="center"><a href="matches">Kampe</a></h2>
<h2 class="center"><a href="competitions">Stævner</a></h2>
<h2 class="center"><a href="calendar">Kalender</a></h2>


</body>
</html>